# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/

# Great Expectations uncommitted files
great_expectations/uncommitted/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
